/* parent element of splashpage and mainmenu */
.root {
    -fx-background-color: black;
    -fx-alignment: center;
}

.parent {
    -fx-background-color: black;
}
.windowhandle {
    -fx-background-color: #004c83;
}

.gamename {
    -fx-font-family: Century Gothic;
    -fx-font-size: 3em;
    -fx-text-fill: red;
}

/* can we replace this with a "universal" font color setting? */
.regulartext {
    -fx-text-fill: red;
}

.menuheader {
    -fx-text-fill: red;
}

.menuchoice {
    -fx-text-fill: red;
}